server:
  port: 8060
  
spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
        
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: "GET,POST,PUT,DELETE,OPTIONS"
            allowedHeaders: "*"
            allowCredentials: true
            exposedHeaders: "*"

      routes:
        - id: ms-auth
          uri: lb://ms-auth
          predicates:
            - Path=/ms-auth/**, /auth/**, /oauth2/**, /login/**, /logout/**

  main:
    web-application-type: reactive

# AGREGAR ESTA CONFIGURACIÓN PARA FORZAR EL PASO DE HEADERS
management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

# CONFIGURACIÓN DE LOGGING PARA DEBUG
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG