server:
  port: 8060

spring:
  application:
    name: api-gateway

  config:
    import: "optional:configserver:http://config-server:8088"

  cloud:
    compatibility-verifier:
      enabled: false

    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
        - PreserveHostHeader
        - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://127.0.0.1:3000"
            allowedMethods: ["GET", "POST", "PUT", "DELETE", "OPTIONS"]
            allowedHeaders: "*"
            exposedHeaders: "*"
            allowCredentials: true

      routes:
        - id: ms-groups
          uri: lb://ms-groups
          predicates:
            - Path=/api/grupos/**
        - id: ms-auth
          uri: lb://ms-auth
          predicates:
            - Path=/auth/**, /oauth2/**, /login/**, /logout/**, /ms-auth/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"